h1 {
    margin-top: 50px;
    color: #1f6abe;
    text-align: center;
    margin: 10px;
  
    }

form{
    color: #010d11;
    font-size: large;
}
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

